body{
  background-image: url(../images/709.jpg);
  background-size: 100% 100%;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.titulo{
  font-size: 2.5em;
  font-family: anders;
  background-color: rgba(10,10,10,.6);
  color: #fff;
}
hr{
  background-color: #fff;
}
 .col-md-6{
  background-color: #FFF;
 }

.shadow{
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.9);
}

.well{
  padding: 30px;
  color: #000;
  border-radius: 5px;
}