html {
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -ms-overflow-style:scrollbar;
    -webkit-tap-highlight-color:transparent;
}

body {
    margin:0;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff;
    background-image:url(../images/709.jpg);
}

element.style {
    width:400px;
    height:615px;
}

.login-clean {
    background:#f1f7fc;
    padding:80px 0;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.login-clean form {
    max-width:400px;
    width:90%;
    margin:0 auto;
    background-color:#fff;
    padding:40px;
    border-radius:4px;
    color:#505e6c;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.visible {
    visibility:visible!important;
}

.mb-auto, .my-auto {
    margin-bottom:auto!important;
}

.mt-auto, .my-auto {
    margin-top:auto!important;
}

.align-self-center {
    -ms-flex-item-align:center!important;
    align-self:center!important;
}

.align-content-center {
    -ms-flex-line-pack:center!important;
    align-content:center!important;
}

.justify-content-center {
    -webkit-box-pack:center!important;
    -ms-flex-pack:center!important;
    justify-content:center!important;
}

.flex-nowrap {
    -ms-flex-wrap:nowrap!important;
    flex-wrap:nowrap!important;
}

.flex-column {
    -webkit-box-orient:vertical!important;
    -webkit-box-direction:normal!important;
    -ms-flex-direction:column!important;
    flex-direction:column!important;
}

.d-flex {
    display:-webkit-box!important;
    display:-ms-flexbox!important;
    display:flex!important;
}

.d-block {
    display:block!important;
}

.btn-login{
    background-color: rgb(33,74,128);
}
