body{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/*menu*/
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important; 
}
body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
  width: 55px !important; 
}
.content-wrapper {
  overflow-x: hidden;
  background-color: white;
  min-height: 100vh;
  background-size: 100% 100%;
  padding-top: 49px;
  left: 0;
  right: 0;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 30vh; 
}
.bg-danger{
  background-color: #141E30 !important;
}
@media (min-width: 992px) {
  .bg-danger{
    padding: 28px;
  }
  /*posicion-contenido*/
  .content-wrapper {  
    margin-left: 165px; 
  }
  body.sidenav-toggled .content-wrapper {
    margin-left: 55px; 
  }
  .sidenav-toggled .content-wrapper {
    margin-left:10px; 
  }
  /*posicion-menu*/
  .navbar-sidenav {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #mainNav.fixed-top .navbar-sidenav {
    height: 100vh; 
  }
  .nav-item {
    width: 165px;
    padding: 0;
  }
  .navbar-sidenav > .nav-item > .nav-link {
    padding: 25px 15px;
  }
  /*botton-menu*/
  #mainNav.fixed-top .sidenav-toggler {
    display: flex; 
    position: absolute;
    margin-top:  25px;
    top:0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
  }
}
}
/*icono*/
#mainNav .navbar-collapse {
  display: block;
  overflow: hidden;
  min-height: 100vh;
  background-color: #000;
}
.nav-link-collapse:after {
  float: right;
  content: '\f105';
  font-family: 'FontAwesome'; 

}
.nav-link-collapse.collapsed:after {
  content: '\f105'; 
}
#mainNav .navbar-collapse .sidenav-toggler {
  display: none; 
}
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important; 
}
.navbar-sidenav-tooltip.show {
  display: none; 
}
body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex; 
}
body.sidenav-toggled .navbar-sidenav {
  overflow-x: hidden;
  width: 55px; 
}
body.sidenav-toggled .navbar-sidenav .nav-link-text {
  display: none; 
}
#mainNav.fixed-top .sidenav-toggler {
  position: absolute;
  display: flex;
  overflow-y: auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: calc(100vh - 50px);
}
#mainNav ul li:hover{
  background-color: #355C7D;
}
#mainNav span{
  color:#fff;
}
#mainNav .fa{
  color:#fff;
}
#mainNav .fa-spin{
  oclor:#fff;
}

