@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xzi4i8');
  src:  url('fonts/icomoon.eot?xzi4i8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xzi4i8') format('truetype'),
    url('fonts/icomoon.woff?xzi4i8') format('woff'),
    url('fonts/icomoon.svg?xzi4i8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\eeae";
}
.icon-airplay2:before {
  content: "\eeaf";
}
.icon-alert-circle:before {
  content: "\eeb0";
}
.icon-alert-octagon:before {
  content: "\eeb1";
}
.icon-alert-triangle:before {
  content: "\eeb2";
}
.icon-align-center2:before {
  content: "\eeb3";
}
.icon-align-justify2:before {
  content: "\eeb4";
}
.icon-align-left2:before {
  content: "\eeb5";
}
.icon-align-right2:before {
  content: "\eeb6";
}
.icon-anchor4:before {
  content: "\eeb7";
}
.icon-aperture2:before {
  content: "\eeb8";
}
.icon-archive4:before {
  content: "\eeb9";
}
.icon-arrow-down4:before {
  content: "\eeba";
}
.icon-arrow-down-circle:before {
  content: "\eebb";
}
.icon-arrow-down-left3:before {
  content: "\eebc";
}
.icon-arrow-down-right3:before {
  content: "\eebd";
}
.icon-arrow-left4:before {
  content: "\eebe";
}
.icon-arrow-left-circle:before {
  content: "\eebf";
}
.icon-arrow-right4:before {
  content: "\eec0";
}
.icon-arrow-right-circle:before {
  content: "\eec1";
}
.icon-arrow-up4:before {
  content: "\eec2";
}
.icon-arrow-up-circle:before {
  content: "\eec3";
}
.icon-arrow-up-left3:before {
  content: "\eec4";
}
.icon-arrow-up-right3:before {
  content: "\eec5";
}
.icon-at-sign:before {
  content: "\eec6";
}
.icon-award9:before {
  content: "\eec7";
}
.icon-bar-chart2:before {
  content: "\eec8";
}
.icon-bar-chart-2:before {
  content: "\eec9";
}
.icon-battery2:before {
  content: "\eeca";
}
.icon-battery-charging:before {
  content: "\eecb";
}
.icon-bell4:before {
  content: "\eecc";
}
.icon-bell-off:before {
  content: "\eecd";
}
.icon-bluetooth3:before {
  content: "\eece";
}
.icon-bold3:before {
  content: "\eecf";
}
.icon-book6:before {
  content: "\eed0";
}
.icon-book-open2:before {
  content: "\eed1";
}
.icon-bookmark6:before {
  content: "\eed2";
}
.icon-box7:before {
  content: "\eed3";
}
.icon-briefcase5:before {
  content: "\eed4";
}
.icon-calendar5:before {
  content: "\eed5";
}
.icon-camera7:before {
  content: "\eed6";
}
.icon-camera-off:before {
  content: "\eed7";
}
.icon-cast2:before {
  content: "\eed8";
}
.icon-check3:before {
  content: "\eed9";
}
.icon-check-circle2:before {
  content: "\eeda";
}
.icon-check-square2:before {
  content: "\eedb";
}
.icon-chevron-down2:before {
  content: "\eedc";
}
.icon-chevron-left3:before {
  content: "\eedd";
}
.icon-chevron-right3:before {
  content: "\eede";
}
.icon-chevron-up2:before {
  content: "\eedf";
}
.icon-chevrons-down:before {
  content: "\eee0";
}
.icon-chevrons-left:before {
  content: "\eee1";
}
.icon-chevrons-right:before {
  content: "\eee2";
}
.icon-chevrons-up:before {
  content: "\eee3";
}
.icon-chrome3:before {
  content: "\eee4";
}
.icon-circle2:before {
  content: "\eee5";
}
.icon-clipboard7:before {
  content: "\eee6";
}
.icon-clock5:before {
  content: "\eee7";
}
.icon-cloud9:before {
  content: "\eee8";
}
.icon-cloud-drizzle:before {
  content: "\eee9";
}
.icon-cloud-lightning3:before {
  content: "\eeea";
}
.icon-cloud-off:before {
  content: "\eeeb";
}
.icon-cloud-rain3:before {
  content: "\eeec";
}
.icon-cloud-snow3:before {
  content: "\eeed";
}
.icon-code4:before {
  content: "\eeee";
}
.icon-codepen3:before {
  content: "\eeef";
}
.icon-command2:before {
  content: "\eef0";
}
.icon-compass13:before {
  content: "\eef1";
}
.icon-copy3:before {
  content: "\eef2";
}
.icon-corner-down-left:before {
  content: "\eef3";
}
.icon-corner-down-right:before {
  content: "\eef4";
}
.icon-corner-left-down:before {
  content: "\eef5";
}
.icon-corner-left-up:before {
  content: "\eef6";
}
.icon-corner-right-down:before {
  content: "\eef7";
}
.icon-corner-right-up:before {
  content: "\eef8";
}
.icon-corner-up-left:before {
  content: "\eef9";
}
.icon-corner-up-right:before {
  content: "\eefa";
}
.icon-cpu:before {
  content: "\eefb";
}
.icon-credit-card4:before {
  content: "\eefc";
}
.icon-crop4:before {
  content: "\eefd";
}
.icon-crosshair:before {
  content: "\eefe";
}
.icon-database4:before {
  content: "\eeff";
}
.icon-delete3:before {
  content: "\ef00";
}
.icon-disc:before {
  content: "\ef01";
}
.icon-dollar-sign:before {
  content: "\ef02";
}
.icon-download6:before {
  content: "\ef03";
}
.icon-download-cloud:before {
  content: "\ef04";
}
.icon-droplet2:before {
  content: "\ef05";
}
.icon-edit4:before {
  content: "\ef06";
}
.icon-edit-2:before {
  content: "\ef07";
}
.icon-edit-3:before {
  content: "\ef08";
}
.icon-external-link2:before {
  content: "\ef09";
}
.icon-eye7:before {
  content: "\ef0a";
}
.icon-eye-off:before {
  content: "\ef0b";
}
.icon-facebook4:before {
  content: "\ef0c";
}
.icon-fast-forward2:before {
  content: "\ef0d";
}
.icon-feather2:before {
  content: "\ef0e";
}
.icon-file2:before {
  content: "\ef0f";
}
.icon-file-minus:before {
  content: "\ef10";
}
.icon-file-plus:before {
  content: "\ef11";
}
.icon-file-text3:before {
  content: "\ef12";
}
.icon-film4:before {
  content: "\ef13";
}
.icon-filter4:before {
  content: "\ef14";
}
.icon-flag14:before {
  content: "\ef15";
}
.icon-folder9:before {
  content: "\ef16";
}
.icon-folder-minus2:before {
  content: "\ef17";
}
.icon-folder-plus2:before {
  content: "\ef18";
}
.icon-gift5:before {
  content: "\ef19";
}
.icon-git-branch:before {
  content: "\ef1a";
}
.icon-git-commit:before {
  content: "\ef1b";
}
.icon-git-merge:before {
  content: "\ef1c";
}
.icon-git-pull-request:before {
  content: "\ef1d";
}
.icon-github3:before {
  content: "\ef1e";
}
.icon-gitlab2:before {
  content: "\ef1f";
}
.icon-globe4:before {
  content: "\ef20";
}
.icon-grid2:before {
  content: "\ef21";
}
.icon-hard-drive:before {
  content: "\ef22";
}
.icon-hash:before {
  content: "\ef23";
}
.icon-headphones4:before {
  content: "\ef24";
}
.icon-heart6:before {
  content: "\ef25";
}
.icon-help-circle:before {
  content: "\ef26";
}
.icon-home6:before {
  content: "\ef27";
}
.icon-image4:before {
  content: "\ef28";
}
.icon-inbox5:before {
  content: "\ef29";
}
.icon-info5:before {
  content: "\ef2a";
}
.icon-instagram3:before {
  content: "\ef2b";
}
.icon-italic3:before {
  content: "\ef2c";
}
.icon-layers3:before {
  content: "\ef2d";
}
.icon-layout:before {
  content: "\ef2e";
}
.icon-life-buoy2:before {
  content: "\ef2f";
}
.icon-link5:before {
  content: "\ef30";
}
.icon-link-2:before {
  content: "\ef31";
}
.icon-linkedin4:before {
  content: "\ef32";
}
.icon-list4:before {
  content: "\ef33";
}
.icon-loader:before {
  content: "\ef34";
}
.icon-lock8:before {
  content: "\ef35";
}
.icon-log-in:before {
  content: "\ef36";
}
.icon-log-out:before {
  content: "\ef37";
}
.icon-mail7:before {
  content: "\ef38";
}
.icon-map6:before {
  content: "\ef39";
}
.icon-map-pin3:before {
  content: "\ef3a";
}
.icon-maximize:before {
  content: "\ef3b";
}
.icon-maximize-2:before {
  content: "\ef3c";
}
.icon-menu6:before {
  content: "\ef3d";
}
.icon-message-circle:before {
  content: "\ef3e";
}
.icon-message-square:before {
  content: "\ef3f";
}
.icon-mic4:before {
  content: "\ef40";
}
.icon-mic-off:before {
  content: "\ef41";
}
.icon-minimize:before {
  content: "\ef42";
}
.icon-minimize-2:before {
  content: "\ef43";
}
.icon-minus4:before {
  content: "\ef44";
}
.icon-minus-circle2:before {
  content: "\ef45";
}
.icon-minus-square2:before {
  content: "\ef46";
}
.icon-monitor:before {
  content: "\ef47";
}
.icon-moon5:before {
  content: "\ef48";
}
.icon-more-horizontal:before {
  content: "\ef49";
}
.icon-more-vertical:before {
  content: "\ef4a";
}
.icon-move3:before {
  content: "\ef4b";
}
.icon-music4:before {
  content: "\ef4c";
}
.icon-navigation2:before {
  content: "\ef4d";
}
.icon-navigation-2:before {
  content: "\ef4e";
}
.icon-octagon:before {
  content: "\ef4f";
}
.icon-package3:before {
  content: "\ef50";
}
.icon-paperclip5:before {
  content: "\ef51";
}
.icon-pause4:before {
  content: "\ef52";
}
.icon-pause-circle2:before {
  content: "\ef53";
}
.icon-percent2:before {
  content: "\ef54";
}
.icon-phone7:before {
  content: "\ef55";
}
.icon-phone-call:before {
  content: "\ef56";
}
.icon-phone-forwarded:before {
  content: "\ef57";
}
.icon-phone-incoming:before {
  content: "\ef58";
}
.icon-phone-missed:before {
  content: "\ef59";
}
.icon-phone-off:before {
  content: "\ef5a";
}
.icon-phone-outgoing:before {
  content: "\ef5b";
}
.icon-pie-chart3:before {
  content: "\ef5c";
}
.icon-play4:before {
  content: "\ef5d";
}
.icon-play-circle2:before {
  content: "\ef5e";
}
.icon-plus4:before {
  content: "\ef5f";
}
.icon-plus-circle2:before {
  content: "\ef60";
}
.icon-plus-square2:before {
  content: "\ef61";
}
.icon-pocket:before {
  content: "\ef62";
}
.icon-power4:before {
  content: "\ef63";
}
.icon-printer8:before {
  content: "\ef64";
}
.icon-radio2:before {
  content: "\ef65";
}
.icon-refresh-ccw:before {
  content: "\ef66";
}
.icon-refresh-cw:before {
  content: "\ef67";
}
.icon-repeat3:before {
  content: "\ef68";
}
.icon-rewind:before {
  content: "\ef69";
}
.icon-rotate-ccw:before {
  content: "\ef6a";
}
.icon-rotate-cw:before {
  content: "\ef6b";
}
.icon-rss5:before {
  content: "\ef6c";
}
.icon-save3:before {
  content: "\ef6d";
}
.icon-scissors5:before {
  content: "\ef6e";
}
.icon-search8:before {
  content: "\ef6f";
}
.icon-send3:before {
  content: "\ef70";
}
.icon-server2:before {
  content: "\ef71";
}
.icon-settings3:before {
  content: "\ef72";
}
.icon-share4:before {
  content: "\ef73";
}
.icon-share-2:before {
  content: "\ef74";
}
.icon-shield4:before {
  content: "\ef75";
}
.icon-shield-off:before {
  content: "\ef76";
}
.icon-shopping-bag3:before {
  content: "\ef77";
}
.icon-shopping-cart3:before {
  content: "\ef78";
}
.icon-shuffle3:before {
  content: "\ef79";
}
.icon-sidebar:before {
  content: "\ef7a";
}
.icon-skip-back:before {
  content: "\ef7b";
}
.icon-skip-forward:before {
  content: "\ef7c";
}
.icon-slack2:before {
  content: "\ef7d";
}
.icon-slash:before {
  content: "\ef7e";
}
.icon-sliders2:before {
  content: "\ef7f";
}
.icon-smartphone:before {
  content: "\ef80";
}
.icon-speaker2:before {
  content: "\ef81";
}
.icon-square2:before {
  content: "\ef82";
}
.icon-star7:before {
  content: "\ef83";
}
.icon-stop-circle2:before {
  content: "\ef84";
}
.icon-sun4:before {
  content: "\ef85";
}
.icon-sunrise3:before {
  content: "\ef86";
}
.icon-sunset7:before {
  content: "\ef87";
}
.icon-tablet5:before {
  content: "\ef88";
}
.icon-tag6:before {
  content: "\ef89";
}
.icon-target5:before {
  content: "\ef8a";
}
.icon-terminal3:before {
  content: "\ef8b";
}
.icon-thermometer5:before {
  content: "\ef8c";
}
.icon-thumbs-down3:before {
  content: "\ef8d";
}
.icon-thumbs-up3:before {
  content: "\ef8e";
}
.icon-toggle-left2:before {
  content: "\ef8f";
}
.icon-toggle-right2:before {
  content: "\ef90";
}
.icon-trash4:before {
  content: "\ef91";
}
.icon-trash-2:before {
  content: "\ef92";
}
.icon-trending-down:before {
  content: "\ef93";
}
.icon-trending-up:before {
  content: "\ef94";
}
.icon-triangle:before {
  content: "\ef95";
}
.icon-truck4:before {
  content: "\ef96";
}
.icon-tv5:before {
  content: "\ef97";
}
.icon-twitter4:before {
  content: "\ef98";
}
.icon-type:before {
  content: "\ef99";
}
.icon-umbrella4:before {
  content: "\ef9a";
}
.icon-underline3:before {
  content: "\ef9b";
}
.icon-unlock2:before {
  content: "\ef9c";
}
.icon-upload6:before {
  content: "\ef9d";
}
.icon-upload-cloud:before {
  content: "\ef9e";
}
.icon-user5:before {
  content: "\ef9f";
}
.icon-user-check2:before {
  content: "\efa0";
}
.icon-user-minus2:before {
  content: "\efa1";
}
.icon-user-plus3:before {
  content: "\efa2";
}
.icon-user-x:before {
  content: "\efa3";
}
.icon-users3:before {
  content: "\efa4";
}
.icon-video4:before {
  content: "\efa5";
}
.icon-video-off:before {
  content: "\efa6";
}
.icon-voicemail2:before {
  content: "\efa7";
}
.icon-volume2:before {
  content: "\efa8";
}
.icon-volume-1:before {
  content: "\efa9";
}
.icon-volume-2:before {
  content: "\efaa";
}
.icon-volume-x:before {
  content: "\efab";
}
.icon-watch3:before {
  content: "\efac";
}
.icon-wifi3:before {
  content: "\efad";
}
.icon-wifi-off:before {
  content: "\efae";
}
.icon-wind3:before {
  content: "\efaf";
}
.icon-x:before {
  content: "\efb0";
}
.icon-x-circle:before {
  content: "\efb1";
}
.icon-x-square:before {
  content: "\efb2";
}
.icon-youtube3:before {
  content: "\efb3";
}
.icon-zap:before {
  content: "\efb4";
}
.icon-zap-off:before {
  content: "\efb5";
}
.icon-zoom-in3:before {
  content: "\efb6";
}
.icon-zoom-out3:before {
  content: "\efb7";
}
