@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n5x8ec');
  src:  url('fonts/icomoon.eot?n5x8ec#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n5x8ec') format('truetype'),
    url('fonts/icomoon.woff?n5x8ec') format('woff'),
    url('fonts/icomoon.svg?n5x8ec#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-outline:before {
  content: "\f468";
}
.icon-add-solid:before {
  content: "\f469";
}
.icon-adjust4:before {
  content: "\f46a";
}
.icon-airplane2:before {
  content: "\f46b";
}
.icon-album2:before {
  content: "\f46c";
}
.icon-align-center4:before {
  content: "\f46d";
}
.icon-align-justified:before {
  content: "\f46e";
}
.icon-align-left5:before {
  content: "\f46f";
}
.icon-align-right5:before {
  content: "\f470";
}
.icon-anchor5:before {
  content: "\f471";
}
.icon-announcement2:before {
  content: "\f472";
}
.icon-apparel:before {
  content: "\f473";
}
.icon-arrow-down7:before {
  content: "\f474";
}
.icon-arrow-left7:before {
  content: "\f475";
}
.icon-arrow-outline-down:before {
  content: "\f476";
}
.icon-arrow-outline-left:before {
  content: "\f477";
}
.icon-arrow-outline-right:before {
  content: "\f478";
}
.icon-arrow-outline-up:before {
  content: "\f479";
}
.icon-arrow-right7:before {
  content: "\f47a";
}
.icon-arrow-thick-down:before {
  content: "\f47b";
}
.icon-arrow-thick-left:before {
  content: "\f47c";
}
.icon-arrow-thick-right:before {
  content: "\f47d";
}
.icon-arrow-thick-up:before {
  content: "\f47e";
}
.icon-arrow-thin-down:before {
  content: "\f47f";
}
.icon-arrow-thin-left:before {
  content: "\f480";
}
.icon-arrow-thin-right:before {
  content: "\f481";
}
.icon-arrow-thin-up:before {
  content: "\f482";
}
.icon-arrow-up7:before {
  content: "\f483";
}
.icon-artist:before {
  content: "\f484";
}
.icon-at-symbol:before {
  content: "\f485";
}
.icon-attachment6:before {
  content: "\f486";
}
.icon-backspace3:before {
  content: "\f487";
}
.icon-backward3:before {
  content: "\f488";
}
.icon-backward-step:before {
  content: "\f489";
}
.icon-badge:before {
  content: "\f48a";
}
.icon-battery-full4:before {
  content: "\f48b";
}
.icon-battery-half2:before {
  content: "\f48c";
}
.icon-battery-low2:before {
  content: "\f48d";
}
.icon-beverage:before {
  content: "\f48e";
}
.icon-block3:before {
  content: "\f48f";
}
.icon-bluetooth4:before {
  content: "\f490";
}
.icon-bolt3:before {
  content: "\f491";
}
.icon-book-reference:before {
  content: "\f492";
}
.icon-bookmark9:before {
  content: "\f493";
}
.icon-bookmarkcopy2:before {
  content: "\f494";
}
.icon-bookmarkcopy3:before {
  content: "\f495";
}
.icon-bookmark-outline:before {
  content: "\f496";
}
.icon-bookmark-outline-add:before {
  content: "\f497";
}
.icon-border-all:before {
  content: "\f498";
}
.icon-border-bottom:before {
  content: "\f499";
}
.icon-border-horizontal:before {
  content: "\f49a";
}
.icon-border-inner:before {
  content: "\f49b";
}
.icon-border-left:before {
  content: "\f49c";
}
.icon-border-none:before {
  content: "\f49d";
}
.icon-border-outer:before {
  content: "\f49e";
}
.icon-border-right:before {
  content: "\f49f";
}
.icon-border-top:before {
  content: "\f4a0";
}
.icon-border-vertical:before {
  content: "\f4a1";
}
.icon-box10:before {
  content: "\f4a2";
}
.icon-brightness-down:before {
  content: "\f4a3";
}
.icon-brightness-up:before {
  content: "\f4a4";
}
.icon-browser-window:before {
  content: "\f4a5";
}
.icon-browser-window-new:before {
  content: "\f4a6";
}
.icon-browser-window-open:before {
  content: "\f4a7";
}
.icon-bug3:before {
  content: "\f4a8";
}
.icon-buoy:before {
  content: "\f4a9";
}
.icon-calculator6:before {
  content: "\f4aa";
}
.icon-calendar8:before {
  content: "\f4ab";
}
.icon-camera10:before {
  content: "\f4ac";
}
.icon-chart2:before {
  content: "\f4ad";
}
.icon-chart-bar2:before {
  content: "\f4ae";
}
.icon-chart-pie2:before {
  content: "\f4af";
}
.icon-chat-bubble-dots:before {
  content: "\f4b0";
}
.icon-checkmark4:before {
  content: "\f4b1";
}
.icon-checkmark-outline:before {
  content: "\f4b2";
}
.icon-cheveron-down:before {
  content: "\f4b3";
}
.icon-cheveron-left:before {
  content: "\f4b4";
}
.icon-cheveron-outline-down:before {
  content: "\f4b5";
}
.icon-cheveron-outline-left:before {
  content: "\f4b6";
}
.icon-cheveron-outline-right:before {
  content: "\f4b7";
}
.icon-cheveron-outline-up:before {
  content: "\f4b8";
}
.icon-cheveron-right:before {
  content: "\f4b9";
}
.icon-cheveron-up:before {
  content: "\f4ba";
}
.icon-clipboard10:before {
  content: "\f4bb";
}
.icon-close3:before {
  content: "\f4bc";
}
.icon-close-outline:before {
  content: "\f4bd";
}
.icon-close-solid:before {
  content: "\f4be";
}
.icon-cloud12:before {
  content: "\f4bf";
}
.icon-cloud-upload5:before {
  content: "\f4c0";
}
.icon-code6:before {
  content: "\f4c1";
}
.icon-coffee4:before {
  content: "\f4c2";
}
.icon-cog5:before {
  content: "\f4c3";
}
.icon-color-palette:before {
  content: "\f4c4";
}
.icon-compose:before {
  content: "\f4c5";
}
.icon-computer-desktop:before {
  content: "\f4c6";
}
.icon-computer-laptop:before {
  content: "\f4c7";
}
.icon-conversation:before {
  content: "\f4c8";
}
.icon-copy5:before {
  content: "\f4c9";
}
.icon-credit-card6:before {
  content: "\f4ca";
}
.icon-currency-dollar:before {
  content: "\f4cb";
}
.icon-dashboard3:before {
  content: "\f4cc";
}
.icon-date-add:before {
  content: "\f4cd";
}
.icon-dial-pad2:before {
  content: "\f4ce";
}
.icon-directions3:before {
  content: "\f4cf";
}
.icon-document6:before {
  content: "\f4d0";
}
.icon-document-add4:before {
  content: "\f4d1";
}
.icon-dots-horizontal-double:before {
  content: "\f4d2";
}
.icon-dots-horizontal-triple:before {
  content: "\f4d3";
}
.icon-download9:before {
  content: "\f4d4";
}
.icon-duplicate:before {
  content: "\f4d5";
}
.icon-edit-copy:before {
  content: "\f4d6";
}
.icon-edit-crop:before {
  content: "\f4d7";
}
.icon-edit-cut:before {
  content: "\f4d8";
}
.icon-edit-pencil:before {
  content: "\f4d9";
}
.icon-education:before {
  content: "\f4da";
}
.icon-envelope4:before {
  content: "\f4db";
}
.icon-exclamation-outline:before {
  content: "\f4dc";
}
.icon-exclamation-solid:before {
  content: "\f4dd";
}
.icon-explore2:before {
  content: "\f4de";
}
.icon-factory:before {
  content: "\f4df";
}
.icon-fast-forward3:before {
  content: "\f4e0";
}
.icon-fast-rewind:before {
  content: "\f4e1";
}
.icon-film5:before {
  content: "\f4e2";
}
.icon-filter5:before {
  content: "\f4e3";
}
.icon-flag17:before {
  content: "\f4e4";
}
.icon-flashlight2:before {
  content: "\f4e5";
}
.icon-folder12:before {
  content: "\f4e6";
}
.icon-folder-outline:before {
  content: "\f4e7";
}
.icon-folder-outline-add:before {
  content: "\f4e8";
}
.icon-format-bold:before {
  content: "\f4e9";
}
.icon-format-font-size:before {
  content: "\f4ea";
}
.icon-format-italic:before {
  content: "\f4eb";
}
.icon-format-text-size:before {
  content: "\f4ec";
}
.icon-format-underline:before {
  content: "\f4ed";
}
.icon-forward6:before {
  content: "\f4ee";
}
.icon-forward-step:before {
  content: "\f4ef";
}
.icon-gift6:before {
  content: "\f4f0";
}
.icon-globe6:before {
  content: "\f4f1";
}
.icon-hand-stop:before {
  content: "\f4f2";
}
.icon-hard-drive2:before {
  content: "\f4f3";
}
.icon-headphones5:before {
  content: "\f4f4";
}
.icon-heart9:before {
  content: "\f4f5";
}
.icon-home9:before {
  content: "\f4f6";
}
.icon-hot:before {
  content: "\f4f7";
}
.icon-hour-glass3:before {
  content: "\f4f8";
}
.icon-inbox7:before {
  content: "\f4f9";
}
.icon-inbox-check:before {
  content: "\f4fa";
}
.icon-inbox-download3:before {
  content: "\f4fb";
}
.icon-inbox-full:before {
  content: "\f4fc";
}
.icon-indent-decrease2:before {
  content: "\f4fd";
}
.icon-indent-increase2:before {
  content: "\f4fe";
}
.icon-information-outline:before {
  content: "\f4ff";
}
.icon-information-solid:before {
  content: "\f500";
}
.icon-key11:before {
  content: "\f501";
}
.icon-keyboard4:before {
  content: "\f502";
}
.icon-layers5:before {
  content: "\f503";
}
.icon-library2:before {
  content: "\f504";
}
.icon-light-bulb2:before {
  content: "\f505";
}
.icon-link7:before {
  content: "\f506";
}
.icon-list7:before {
  content: "\f507";
}
.icon-list-add:before {
  content: "\f508";
}
.icon-list-bullet:before {
  content: "\f509";
}
.icon-load-balancer:before {
  content: "\f50a";
}
.icon-location6:before {
  content: "\f50b";
}
.icon-location-current:before {
  content: "\f50c";
}
.icon-location-food:before {
  content: "\f50d";
}
.icon-location-gas-station:before {
  content: "\f50e";
}
.icon-location-hotel:before {
  content: "\f50f";
}
.icon-location-marina:before {
  content: "\f510";
}
.icon-location-park:before {
  content: "\f511";
}
.icon-location-restroom:before {
  content: "\f512";
}
.icon-location-shopping:before {
  content: "\f513";
}
.icon-lock-closed2:before {
  content: "\f514";
}
.icon-lock-open7:before {
  content: "\f515";
}
.icon-map9:before {
  content: "\f516";
}
.icon-menu8:before {
  content: "\f517";
}
.icon-mic6:before {
  content: "\f518";
}
.icon-minus-outline2:before {
  content: "\f519";
}
.icon-minus-solid:before {
  content: "\f51a";
}
.icon-mobile-devices:before {
  content: "\f51b";
}
.icon-mood-happy-outline:before {
  content: "\f51c";
}
.icon-mood-happy-solid:before {
  content: "\f51d";
}
.icon-mood-neutral-outline:before {
  content: "\f51e";
}
.icon-mood-neutral-solid:before {
  content: "\f51f";
}
.icon-mood-sad-outline:before {
  content: "\f520";
}
.icon-mood-sad-solid:before {
  content: "\f521";
}
.icon-mouse3:before {
  content: "\f522";
}
.icon-music-album:before {
  content: "\f523";
}
.icon-music-artist:before {
  content: "\f524";
}
.icon-music-notes:before {
  content: "\f525";
}
.icon-music-playlist:before {
  content: "\f526";
}
.icon-navigation-more:before {
  content: "\f527";
}
.icon-network2:before {
  content: "\f528";
}
.icon-news-paper:before {
  content: "\f529";
}
.icon-notification3:before {
  content: "\f52a";
}
.icon-notifications2:before {
  content: "\f52b";
}
.icon-notifications-outline:before {
  content: "\f52c";
}
.icon-paste3:before {
  content: "\f52d";
}
.icon-pause5:before {
  content: "\f52e";
}
.icon-pause-outline:before {
  content: "\f52f";
}
.icon-pause-solid:before {
  content: "\f530";
}
.icon-pen-tool:before {
  content: "\f531";
}
.icon-phone10:before {
  content: "\f532";
}
.icon-photo4:before {
  content: "\f533";
}
.icon-php-elephant:before {
  content: "\f534";
}
.icon-pin3:before {
  content: "\f535";
}
.icon-play5:before {
  content: "\f536";
}
.icon-play-outline:before {
  content: "\f537";
}
.icon-playlist:before {
  content: "\f538";
}
.icon-plugin:before {
  content: "\f539";
}
.icon-portfolio:before {
  content: "\f53a";
}
.icon-printer10:before {
  content: "\f53b";
}
.icon-pylon:before {
  content: "\f53c";
}
.icon-question3:before {
  content: "\f53d";
}
.icon-queue2:before {
  content: "\f53e";
}
.icon-radar2:before {
  content: "\f53f";
}
.icon-radarcopy2:before {
  content: "\f540";
}
.icon-radio4:before {
  content: "\f541";
}
.icon-refresh6:before {
  content: "\f542";
}
.icon-reload2:before {
  content: "\f543";
}
.icon-reply5:before {
  content: "\f544";
}
.icon-reply-all3:before {
  content: "\f545";
}
.icon-repost:before {
  content: "\f546";
}
.icon-save-disk:before {
  content: "\f547";
}
.icon-screen-full:before {
  content: "\f548";
}
.icon-search10:before {
  content: "\f549";
}
.icon-send4:before {
  content: "\f54a";
}
.icon-servers:before {
  content: "\f54b";
}
.icon-share7:before {
  content: "\f54c";
}
.icon-share-01:before {
  content: "\f54d";
}
.icon-share-alt2:before {
  content: "\f54e";
}
.icon-shield6:before {
  content: "\f54f";
}
.icon-shopping-cart5:before {
  content: "\f550";
}
.icon-show-sidebar:before {
  content: "\f551";
}
.icon-shuffle5:before {
  content: "\f552";
}
.icon-stand-by:before {
  content: "\f553";
}
.icon-star-full2:before {
  content: "\f554";
}
.icon-station:before {
  content: "\f555";
}
.icon-step-backward2:before {
  content: "\f556";
}
.icon-step-forward2:before {
  content: "\f557";
}
.icon-stethoscope2:before {
  content: "\f558";
}
.icon-store-front:before {
  content: "\f559";
}
.icon-stroke-width:before {
  content: "\f55a";
}
.icon-subdirectory-left:before {
  content: "\f55b";
}
.icon-subdirectory-right:before {
  content: "\f55c";
}
.icon-swap2:before {
  content: "\f55d";
}
.icon-tablet8:before {
  content: "\f55e";
}
.icon-tag9:before {
  content: "\f55f";
}
.icon-target6:before {
  content: "\f560";
}
.icon-text-box:before {
  content: "\f561";
}
.icon-text-decoration:before {
  content: "\f562";
}
.icon-thermometer7:before {
  content: "\f563";
}
.icon-thumbs-down5:before {
  content: "\f564";
}
.icon-thumbs-up5:before {
  content: "\f565";
}
.icon-ticket5:before {
  content: "\f566";
}
.icon-time2:before {
  content: "\f567";
}
.icon-timer2:before {
  content: "\f568";
}
.icon-toolscopy:before {
  content: "\f569";
}
.icon-translate2:before {
  content: "\f56a";
}
.icon-trash6:before {
  content: "\f56b";
}
.icon-travel:before {
  content: "\f56c";
}
.icon-travel-bus:before {
  content: "\f56d";
}
.icon-travel-car:before {
  content: "\f56e";
}
.icon-travel-case:before {
  content: "\f56f";
}
.icon-travel-taxi-cab:before {
  content: "\f570";
}
.icon-travel-train:before {
  content: "\f571";
}
.icon-travel-walk:before {
  content: "\f572";
}
.icon-trophy9:before {
  content: "\f573";
}
.icon-tuning:before {
  content: "\f574";
}
.icon-upload8:before {
  content: "\f575";
}
.icon-usb3:before {
  content: "\f576";
}
.icon-user9:before {
  content: "\f577";
}
.icon-user-add2:before {
  content: "\f578";
}
.icon-user-group:before {
  content: "\f579";
}
.icon-user-solid-circle:before {
  content: "\f57a";
}
.icon-user-solid-square:before {
  content: "\f57b";
}
.icon-vector:before {
  content: "\f57c";
}
.icon-video-camera3:before {
  content: "\f57d";
}
.icon-view-carousel:before {
  content: "\f57e";
}
.icon-view-column:before {
  content: "\f57f";
}
.icon-view-hide:before {
  content: "\f580";
}
.icon-view-list:before {
  content: "\f581";
}
.icon-view-show:before {
  content: "\f582";
}
.icon-view-tile:before {
  content: "\f583";
}
.icon-volume-down3:before {
  content: "\f584";
}
.icon-volume-mute4:before {
  content: "\f585";
}
.icon-volume-off2:before {
  content: "\f586";
}
.icon-volume-up3:before {
  content: "\f587";
}
.icon-wallet4:before {
  content: "\f588";
}
.icon-watch4:before {
  content: "\f589";
}
.icon-window2:before {
  content: "\f58a";
}
.icon-window-new:before {
  content: "\f58b";
}
.icon-window-open:before {
  content: "\f58c";
}
.icon-wrench3:before {
  content: "\f58d";
}
.icon-yin-yang:before {
  content: "\f58e";
}
.icon-zoom-in4:before {
  content: "\f58f";
}
.icon-zoom-out4:before {
  content: "\f590";
}
