@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?772o62');
  src:  url('fonts/icomoon.eot?772o62#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?772o62') format('truetype'),
    url('fonts/icomoon.woff?772o62') format('woff'),
    url('fonts/icomoon.svg?772o62#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-500px4:before {
  content: "\f5cd";
  color: #0099e5;
}
.icon-aboutme:before {
  content: "\f5ce";
  color: #00a98f;
}
.icon-acm:before {
  content: "\f5cf";
  color: #0085ca;
}
.icon-addthis:before {
  content: "\f5d0";
  color: #ff6550;
}
.icon-adobe:before {
  content: "\f5d1";
  color: #f00;
}
.icon-adobeacrobatreader:before {
  content: "\f5d2";
  color: #ee3f24;
}
.icon-adobeaftereffects:before {
  content: "\f5d3";
  color: #d291ff;
}
.icon-adobedreamweaver:before {
  content: "\f5d4";
  color: #35fa00;
}
.icon-adobeillustrator:before {
  content: "\f5d5";
  color: #ff7c00;
}
.icon-adobeindesign:before {
  content: "\f5d6";
  color: #fd3f93;
}
.icon-adobelightroom:before {
  content: "\f5d7";
  color: #add5ec;
}
.icon-adobephotoshop:before {
  content: "\f5d8";
  color: #00c8ff;
}
.icon-adobetypekit:before {
  content: "\f5d9";
  color: #87ec00;
}
.icon-airbnb:before {
  content: "\f5da";
  color: #ff5a5f;
}
.icon-amazon3:before {
  content: "\f5db";
  color: #f90;
}
.icon-americanexpress:before {
  content: "\f5dc";
  color: #2e77bc;
}
.icon-android4:before {
  content: "\f5dd";
  color: #a4c639;
}
.icon-angellist2:before {
  content: "\f5de";
}
.icon-angular:before {
  content: "\f5df";
  color: #dd0031;
}
.icon-apple2:before {
  content: "\f5e0";
  color: #999;
}
.icon-applemusic:before {
  content: "\f5e1";
}
.icon-archlinux:before {
  content: "\f5e2";
  color: #1793d1;
}
.icon-artstation:before {
  content: "\f5e3";
  color: #13aff0;
}
.icon-asana:before {
  content: "\f5e4";
}
.icon-atlassian:before {
  content: "\f5e5";
  color: #0052cc;
}
.icon-atom2:before {
  content: "\f5e6";
  color: #66595c;
}
.icon-aurelia:before {
  content: "\f5e7";
  color: #ed2b88;
}
.icon-auth0:before {
  content: "\f5e8";
  color: #eb5424;
}
.icon-automatic:before {
  content: "\f5e9";
  color: #7d8084;
}
.icon-aventrix:before {
  content: "\f5ea";
  color: #09d;
}
.icon-baidu:before {
  content: "\f5eb";
  color: #2319dc;
}
.icon-bandcamp2:before {
  content: "\f5ec";
  color: #408294;
}
.icon-basecamp3:before {
  content: "\f5ed";
  color: #5ecc62;
}
.icon-bathasu:before {
  content: "\f5ee";
  color: #00a3e0;
}
.icon-behance4:before {
  content: "\f5ef";
  color: #1769ff;
}
.icon-bigcartel:before {
  content: "\f5f0";
}
.icon-bing:before {
  content: "\f5f1";
  color: #008373;
}
.icon-bitbucket2:before {
  content: "\f5f2";
  color: #0052cc;
}
.icon-bitcoin2:before {
  content: "\f5f3";
  color: #f7931a;
}
.icon-bitly:before {
  content: "\f5f4";
  color: #ee6123;
}
.icon-blender:before {
  content: "\f5f5";
  color: #f5792a;
}
.icon-blogger3:before {
  content: "\f5f6";
  color: #ff5722;
}
.icon-bootstrap:before {
  content: "\f5f7";
  color: #563d7c;
}
.icon-bower:before {
  content: "\f5f8";
  color: #ef5734;
}
.icon-brandai:before {
  content: "\f5f9";
  color: #0aa0ff;
}
.icon-buffer:before {
  content: "\f5fa";
  color: #168eea;
}
.icon-buzzfeed:before {
  content: "\f5fb";
  color: #e32;
}
.icon-cakephp:before {
  content: "\f5fc";
  color: #d33c43;
}
.icon-campaignmonitor:before {
  content: "\f5fd";
  color: #509cf6;
}
.icon-circleci:before {
  content: "\f5fe";
}
.icon-cloudflare:before {
  content: "\f5ff";
  color: #f38020;
}
.icon-codecademy:before {
  content: "\f600";
  color: #1f4056;
}
.icon-codeforces:before {
  content: "\f601";
  color: #1f8acb;
}
.icon-codeigniter:before {
  content: "\f602";
  color: #ee4623;
}
.icon-codepen4:before {
  content: "\f603";
}
.icon-coderwall:before {
  content: "\f604";
  color: #3e8dcc;
}
.icon-codeschool:before {
  content: "\f605";
  color: #4cadc0;
}
.icon-codewars:before {
  content: "\f606";
  color: #ad2c27;
}
.icon-codio:before {
  content: "\f607";
  color: #4574e0;
}
.icon-compropago:before {
  content: "\f608";
  color: #00aaef;
}
.icon-conekta:before {
  content: "\f609";
  color: #414959;
}
.icon-coop:before {
  content: "\f60a";
  color: #00b1e7;
}
.icon-coursera:before {
  content: "\f60b";
  color: #2a73cc;
}
.icon-css33:before {
  content: "\f60c";
  color: #1572b6;
}
.icon-csswizardry:before {
  content: "\f60d";
  color: #f43059;
}
.icon-dailymotion:before {
  content: "\f60e";
  color: #0066dc;
}
.icon-debian:before {
  content: "\f60f";
  color: #a81d33;
}
.icon-deezer:before {
  content: "\f610";
  color: #00c7f2;
}
.icon-delicious3:before {
  content: "\f611";
  color: #39f;
}
.icon-designernews:before {
  content: "\f612";
  color: #2d72d9;
}
.icon-deviantart3:before {
  content: "\f613";
  color: #05cc47;
}
.icon-devto:before {
  content: "\f614";
}
.icon-diaspora:before {
  content: "\f615";
}
.icon-digg2:before {
  content: "\f616";
}
.icon-digitalocean:before {
  content: "\f617";
  color: #0080ff;
}
.icon-discord:before {
  content: "\f618";
  color: #7289da;
}
.icon-discourse:before {
  content: "\f619";
}
.icon-discover:before {
  content: "\f61a";
  color: #ff6000;
}
.icon-disqus:before {
  content: "\f61b";
  color: #2e9fff;
}
.icon-disroot:before {
  content: "\f61c";
  color: #50162d;
}
.icon-django:before {
  content: "\f61d";
}
.icon-docker:before {
  content: "\f61e";
  color: #1488c6;
}
.icon-draugiemlv:before {
  content: "\f61f";
  color: #f60;
}
.icon-dribbble5:before {
  content: "\f620";
  color: #ea4c89;
}
.icon-dropbox4:before {
  content: "\f621";
  color: #0061ff;
}
.icon-drupal2:before {
  content: "\f622";
  color: #0678be;
}
.icon-ebay:before {
  content: "\f623";
  color: #e53238;
}
.icon-ello2:before {
  content: "\f624";
}
.icon-empirekred:before {
  content: "\f625";
  color: #72be50;
}
.icon-ethereum:before {
  content: "\f626";
}
.icon-etsy2:before {
  content: "\f627";
  color: #f16521;
}
.icon-eventbrite:before {
  content: "\f628";
  color: #f6682f;
}
.icon-eventstore:before {
  content: "\f629";
  color: #5ab552;
}
.icon-evernote2:before {
  content: "\f62a";
  color: #2dbd60;
}
.icon-everplaces:before {
  content: "\f62b";
  color: #fa4b32;
}
.icon-facebook6:before {
  content: "\f62c";
  color: #3b5998;
}
.icon-fandango:before {
  content: "\f62d";
  color: #ff7300;
}
.icon-feathub:before {
  content: "\f62e";
  color: #9b9b9b;
}
.icon-feedly:before {
  content: "\f62f";
  color: #2bb24c;
}
.icon-firebase:before {
  content: "\f630";
  color: #ffca28;
}
.icon-fitbit:before {
  content: "\f631";
  color: #00b0b9;
}
.icon-flickr6:before {
  content: "\f632";
  color: #0063dc;
}
.icon-flipboard:before {
  content: "\f633";
  color: #e12828;
}
.icon-fnac:before {
  content: "\f634";
  color: #e1a925;
}
.icon-foursquare4:before {
  content: "\f635";
  color: #f94877;
}
.icon-freecodecamp:before {
  content: "\f636";
  color: #006400;
}
.icon-garmin:before {
  content: "\f637";
  color: #007cc3;
}
.icon-gatsby:before {
  content: "\f638";
  color: #639;
}
.icon-gauges:before {
  content: "\f639";
  color: #2fa66a;
}
.icon-geocaching:before {
  content: "\f63a";
  color: #00874d;
}
.icon-gerrit:before {
  content: "\f63b";
  color: #eee;
}
.icon-ghost:before {
  content: "\f63c";
  color: #738a94;
}
.icon-git3:before {
  content: "\f63d";
  color: #f05032;
}
.icon-github5:before {
  content: "\f63e";
}
.icon-gitlab3:before {
  content: "\f63f";
  color: #e24329;
}
.icon-gitter:before {
  content: "\f640";
  color: #ed1965;
}
.icon-glassdoor:before {
  content: "\f641";
  color: #0caa41;
}
.icon-gmail:before {
  content: "\f642";
  color: #d14836;
}
.icon-gnu:before {
  content: "\f643";
  color: #a42e2b;
}
.icon-gnusocial:before {
  content: "\f644";
  color: #a22430;
}
.icon-goldenline:before {
  content: "\f645";
  color: #fbbf00;
}
.icon-goodreads:before {
  content: "\f646";
  color: #630;
}
.icon-google5:before {
  content: "\f647";
  color: #4285f4;
}
.icon-googleallo:before {
  content: "\f648";
  color: #ecb842;
}
.icon-googleanalytics:before {
  content: "\f649";
  color: #ffc107;
}
.icon-googlechrome:before {
  content: "\f64a";
  color: #4285f4;
}
.icon-googledrive:before {
  content: "\f64b";
  color: #4386fc;
}
.icon-googlehangouts:before {
  content: "\f64c";
  color: #0c9d58;
}
.icon-googlekeep:before {
  content: "\f64d";
  color: #fb0;
}
.icon-googleplay:before {
  content: "\f64e";
  color: #607d8b;
}
.icon-googleplus2:before {
  content: "\f64f";
  color: #dc4e41;
}
.icon-govuk:before {
  content: "\f650";
  color: #005ea5;
}
.icon-graphcool:before {
  content: "\f651";
  color: #27ae60;
}
.icon-graphql:before {
  content: "\f652";
  color: #e10098;
}
.icon-grav2:before {
  content: "\f653";
}
.icon-gravatar:before {
  content: "\f654";
  color: #1e8cbe;
}
.icon-gulp:before {
  content: "\f655";
  color: #da4648;
}
.icon-gumroad:before {
  content: "\f656";
  color: #36a9ae;
}
.icon-gumtree:before {
  content: "\f657";
  color: #72ef36;
}
.icon-hackerrank:before {
  content: "\f658";
  color: #2ec866;
}
.icon-hackster:before {
  content: "\f659";
  color: #1bacf7;
}
.icon-haskell:before {
  content: "\f65a";
  color: #5d4f85;
}
.icon-hatenabookmark:before {
  content: "\f65b";
  color: #00a4de;
}
.icon-heroku:before {
  content: "\f65c";
  color: #430098;
}
.icon-hexo:before {
  content: "\f65d";
  color: #0e83cd;
}
.icon-highly:before {
  content: "\f65e";
  color: #ff3c00;
}
.icon-hipchat:before {
  content: "\f65f";
  color: #0052cc;
}
.icon-homify:before {
  content: "\f660";
  color: #7dcda3;
}
.icon-hootsuite:before {
  content: "\f661";
}
.icon-houzz2:before {
  content: "\f662";
  color: #7ac142;
}
.icon-html52:before {
  content: "\f663";
  color: #e34f26;
}
.icon-hulu:before {
  content: "\f664";
  color: #3dbb3d;
}
.icon-humblebundle:before {
  content: "\f665";
  color: #cc2929;
}
.icon-icq:before {
  content: "\f666";
  color: #7ebd00;
}
.icon-ifixit:before {
  content: "\f667";
  color: #0071ce;
}
.icon-imdb2:before {
  content: "\f668";
  color: #e6b91e;
}
.icon-inkscape:before {
  content: "\f669";
}
.icon-instacart:before {
  content: "\f66a";
  color: #43b02a;
}
.icon-instagram5:before {
  content: "\f66b";
  color: #e4405f;
}
.icon-instapaper:before {
  content: "\f66c";
}
.icon-intel:before {
  content: "\f66d";
  color: #0071c5;
}
.icon-intercom:before {
  content: "\f66e";
  color: #1f8ded;
}
.icon-invision:before {
  content: "\f66f";
  color: #f36;
}
.icon-javascript:before {
  content: "\f670";
  color: #f7df1e;
}
.icon-jekyll:before {
  content: "\f671";
  color: #c00;
}
.icon-jenkins:before {
  content: "\f672";
  color: #d24939;
}
.icon-jira:before {
  content: "\f673";
}
.icon-joomla3:before {
  content: "\f674";
  color: #5091cd;
}
.icon-jquery:before {
  content: "\f675";
  color: #0769ad;
}
.icon-jsfiddle2:before {
  content: "\f676";
  color: #4679a4;
}
.icon-json:before {
  content: "\f677";
}
.icon-justgiving:before {
  content: "\f678";
  color: #ad29b6;
}
.icon-kaggle:before {
  content: "\f679";
  color: #20beff;
}
.icon-keybase:before {
  content: "\f67a";
  color: #33a0ff;
}
.icon-keycdn:before {
  content: "\f67b";
  color: #3686be;
}
.icon-khanacademy:before {
  content: "\f67c";
  color: #9db63b;
}
.icon-kickstarter:before {
  content: "\f67d";
  color: #2bde73;
}
.icon-kik:before {
  content: "\f67e";
  color: #82bc23;
}
.icon-kirby:before {
  content: "\f67f";
  color: #ff0100;
}
.icon-klout:before {
  content: "\f680";
  color: #e44600;
}
.icon-known:before {
  content: "\f681";
}
.icon-koding:before {
  content: "\f682";
  color: #00b057;
}
.icon-lanyrd2:before {
  content: "\f683";
  color: #3c80ca;
}
.icon-laravel:before {
  content: "\f684";
  color: #e74430;
}
.icon-lastfm4:before {
  content: "\f685";
  color: #d51007;
}
.icon-launchpad:before {
  content: "\f686";
  color: #f8c300;
}
.icon-letterboxd:before {
  content: "\f687";
  color: #00d735;
}
.icon-line:before {
  content: "\f688";
  color: #00c300;
}
.icon-linewebtoon:before {
  content: "\f689";
  color: #00d564;
}
.icon-linkedin6:before {
  content: "\f68a";
  color: #0077b5;
}
.icon-linux2:before {
  content: "\f68b";
  color: #fcc624;
}
.icon-linuxfoundation:before {
  content: "\f68c";
  color: #009bee;
}
.icon-livejournal:before {
  content: "\f68d";
  color: #00b0ea;
}
.icon-livestream:before {
  content: "\f68e";
  color: #cf202e;
}
.icon-macys:before {
  content: "\f68f";
  color: #e21a2c;
}
.icon-magento:before {
  content: "\f690";
  color: #ee672f;
}
.icon-mailchimp:before {
  content: "\f691";
  color: #239ab9;
}
.icon-mailru:before {
  content: "\f692";
  color: #168de2;
}
.icon-makerbot:before {
  content: "\f693";
  color: #ff1e0d;
}
.icon-mastercard:before {
  content: "\f694";
  color: #eb001b;
}
.icon-mastodon:before {
  content: "\f695";
  color: #189efc;
}
.icon-matternet:before {
  content: "\f696";
}
.icon-mediatemple:before {
  content: "\f697";
}
.icon-medium2:before {
  content: "\f698";
}
.icon-meetup2:before {
  content: "\f699";
  color: #ed1c40;
}
.icon-messenger:before {
  content: "\f69a";
  color: #0084ff;
}
.icon-meteor:before {
  content: "\f69b";
  color: #de4f4f;
}
.icon-microblog:before {
  content: "\f69c";
  color: #fd8308;
}
.icon-microgenetics:before {
  content: "\f69d";
  color: #f00;
}
.icon-microsoft:before {
  content: "\f69e";
  color: #666;
}
.icon-microsoftaccess:before {
  content: "\f69f";
  color: #ba141a;
}
.icon-microsoftexcel:before {
  content: "\f6a0";
  color: #217346;
}
.icon-microsoftonenote:before {
  content: "\f6a1";
  color: #80397b;
}
.icon-microsoftoutlook:before {
  content: "\f6a2";
  color: #0072c6;
}
.icon-microsoftpowerpoint:before {
  content: "\f6a3";
  color: #d24726;
}
.icon-microsoftword:before {
  content: "\f6a4";
  color: #2b579a;
}
.icon-minutemailer:before {
  content: "\f6a5";
  color: #3abfe6;
}
.icon-mixcloud2:before {
  content: "\f6a6";
  color: #314359;
}
.icon-monero:before {
  content: "\f6a7";
  color: #f60;
}
.icon-mongodb:before {
  content: "\f6a8";
  color: #47a248;
}
.icon-monkeytie:before {
  content: "\f6a9";
  color: #ffc619;
}
.icon-monogram:before {
  content: "\f6aa";
  color: #fdb22a;
}
.icon-moo:before {
  content: "\f6ab";
  color: #00945e;
}
.icon-mozilla:before {
  content: "\f6ac";
}
.icon-mozillafirefox:before {
  content: "\f6ad";
  color: #ff9400;
}
.icon-myspace:before {
  content: "\f6ae";
}
.icon-mysql:before {
  content: "\f6af";
  color: #4479a1;
}
.icon-neo4j:before {
  content: "\f6b0";
  color: #008cc1;
}
.icon-netflix:before {
  content: "\f6b1";
  color: #e50914;
}
.icon-netlify:before {
  content: "\f6b2";
  color: #00c7b7;
}
.icon-nextdoor:before {
  content: "\f6b3";
  color: #00b246;
}
.icon-nginx:before {
  content: "\f6b4";
  color: #269539;
}
.icon-nintendo:before {
  content: "\f6b5";
  color: #8f8f8f;
}
.icon-nintendogamecube:before {
  content: "\f6b6";
  color: #6a5fbb;
}
.icon-nintendoswitch:before {
  content: "\f6b7";
  color: #e60012;
}
.icon-nodejs:before {
  content: "\f6b8";
  color: #393;
}
.icon-nodemon:before {
  content: "\f6b9";
  color: #76d04b;
}
.icon-npm2:before {
  content: "\f6ba";
  color: #cb3837;
}
.icon-nucleo:before {
  content: "\f6bb";
  color: #766dcc;
}
.icon-oculus:before {
  content: "\f6bc";
}
.icon-odnoklassniki2:before {
  content: "\f6bd";
  color: #f4731c;
}
.icon-onedrive3:before {
  content: "\f6be";
  color: #094ab2;
}
.icon-opera3:before {
  content: "\f6bf";
  color: #ff1b2d;
}
.icon-origin:before {
  content: "\f6c0";
  color: #f56c2d;
}
.icon-overcast:before {
  content: "\f6c1";
  color: #fc7e0f;
}
.icon-ovh:before {
  content: "\f6c2";
  color: #123f6d;
}
.icon-pagekit:before {
  content: "\f6c3";
}
.icon-pandora:before {
  content: "\f6c4";
  color: #005483;
}
.icon-patreon:before {
  content: "\f6c5";
  color: #f96854;
}
.icon-paypal4:before {
  content: "\f6c6";
  color: #00457c;
}
.icon-periscope:before {
  content: "\f6c7";
  color: #40a4c4;
}
.icon-php:before {
  content: "\f6c8";
  color: #777bb4;
}
.icon-picartotv:before {
  content: "\f6c9";
  color: #1da456;
}
.icon-pinboard:before {
  content: "\f6ca";
  color: #00f;
}
.icon-pingdom:before {
  content: "\f6cb";
  color: #fff000;
}
.icon-pingup:before {
  content: "\f6cc";
  color: #00b1ab;
}
.icon-pinterest4:before {
  content: "\f6cd";
  color: #bd081c;
}
.icon-plangrid:before {
  content: "\f6ce";
  color: #0085de;
}
.icon-playerme:before {
  content: "\f6cf";
  color: #c0379a;
}
.icon-playstation:before {
  content: "\f6d0";
  color: #003791;
}
.icon-playstation3:before {
  content: "\f6d1";
  color: #003791;
}
.icon-playstation4:before {
  content: "\f6d2";
  color: #003791;
}
.icon-plex:before {
  content: "\f6d3";
  color: #e5a00d;
}
.icon-pluralsight:before {
  content: "\f6d4";
  color: #f15b2a;
}
.icon-plurk:before {
  content: "\f6d5";
  color: #e9443d;
}
.icon-pocket2:before {
  content: "\f6d6";
  color: #ef3f56;
}
.icon-podcasts:before {
  content: "\f6d7";
  color: #93c;
}
.icon-prismic:before {
  content: "\f6d8";
  color: #484a7a;
}
.icon-processwire:before {
  content: "\f6d9";
  color: #ef145f;
}
.icon-producthunt:before {
  content: "\f6da";
  color: #da552f;
}
.icon-protoio:before {
  content: "\f6db";
  color: #34a7c1;
}
.icon-protonmail:before {
  content: "\f6dc";
  color: #8b89cc;
}
.icon-python:before {
  content: "\f6dd";
  color: #3776ab;
}
.icon-qiita:before {
  content: "\f6de";
  color: #55c500;
}
.icon-quantcast:before {
  content: "\f6df";
}
.icon-quantopian:before {
  content: "\f6e0";
  color: #c50000;
}
.icon-quora2:before {
  content: "\f6e1";
  color: #b92b27;
}
.icon-rails:before {
  content: "\f6e2";
  color: #c00;
}
.icon-raspberrypi:before {
  content: "\f6e3";
  color: #c51a4a;
}
.icon-react:before {
  content: "\f6e4";
  color: #61dafb;
}
.icon-readthedocs:before {
  content: "\f6e5";
  color: #8ca1af;
}
.icon-reddit3:before {
  content: "\f6e6";
  color: #ff4500;
}
.icon-redis:before {
  content: "\f6e7";
  color: #d82c20;
}
.icon-redux:before {
  content: "\f6e8";
  color: #764abc;
}
.icon-reverbnation:before {
  content: "\f6e9";
  color: #e43526;
}
.icon-roots:before {
  content: "\f6ea";
  color: #27ae60;
}
.icon-rss7:before {
  content: "\f6eb";
  color: #ffa500;
}
.icon-ruby:before {
  content: "\f6ec";
  color: #cc342d;
}
.icon-runkeeper:before {
  content: "\f6ed";
  color: #2dc9d7;
}
.icon-rust:before {
  content: "\f6ee";
}
.icon-salesforce:before {
  content: "\f6ef";
  color: #00a1e0;
}
.icon-sass:before {
  content: "\f6f0";
  color: #c69;
}
.icon-saucelabs:before {
  content: "\f6f1";
  color: #e2231a;
}
.icon-scribd3:before {
  content: "\f6f2";
  color: #1a7bba;
}
.icon-sega:before {
  content: "\f6f3";
  color: #0089cf;
}
.icon-sellfy:before {
  content: "\f6f4";
  color: #21b352;
}
.icon-sentry:before {
  content: "\f6f5";
  color: #fb4226;
}
.icon-serverfault:before {
  content: "\f6f6";
  color: #e7282d;
}
.icon-shazam:before {
  content: "\f6f7";
  color: #08f;
}
.icon-shopify:before {
  content: "\f6f8";
  color: #7ab55c;
}
.icon-signal3:before {
  content: "\f6f9";
  color: #2592e9;
}
.icon-simpleicons:before {
  content: "\f6fa";
}
.icon-sinaweibo:before {
  content: "\f6fb";
  color: #e6162d;
}
.icon-sitepoint:before {
  content: "\f6fc";
  color: #258aaf;
}
.icon-skyliner:before {
  content: "\f6fd";
  color: #2fcea0;
}
.icon-skype4:before {
  content: "\f6fe";
  color: #00aff0;
}
.icon-slack3:before {
  content: "\f6ff";
  color: #56b68b;
}
.icon-slashdot:before {
  content: "\f700";
  color: #026664;
}
.icon-slickpic:before {
  content: "\f701";
  color: #ff880f;
}
.icon-slides:before {
  content: "\f702";
  color: #e4637c;
}
.icon-smashingmagazine:before {
  content: "\f703";
  color: #e85c33;
}
.icon-snapchat2:before {
  content: "\f704";
  color: #fffc00;
}
.icon-sogou:before {
  content: "\f705";
  color: #fb6022;
}
.icon-songkick:before {
  content: "\f706";
  color: #f80046;
}
.icon-soundcloud4:before {
  content: "\f707";
  color: #f30;
}
.icon-sourceforge:before {
  content: "\f708";
  color: #535353;
}
.icon-sparkpost:before {
  content: "\f709";
  color: #fa6423;
}
.icon-speakerdeck:before {
  content: "\f70a";
  color: #396;
}
.icon-spotify4:before {
  content: "\f70b";
  color: #1ed760;
}
.icon-spotlight:before {
  content: "\f70c";
  color: #352a71;
}
.icon-spreaker:before {
  content: "\f70d";
  color: #f5c300;
}
.icon-squarespace:before {
  content: "\f70e";
}
.icon-stackexchange:before {
  content: "\f70f";
  color: #1e5397;
}
.icon-stackoverflow2:before {
  content: "\f710";
  color: #fe7a16;
}
.icon-statamic:before {
  content: "\f711";
}
.icon-staticman:before {
  content: "\f712";
}
.icon-steam3:before {
  content: "\f713";
}
.icon-steem:before {
  content: "\f714";
  color: #4ba2f2;
}
.icon-stitcher:before {
  content: "\f715";
}
.icon-storify:before {
  content: "\f716";
  color: #3a98d9;
}
.icon-strava:before {
  content: "\f717";
  color: #fc4c02;
}
.icon-stripe:before {
  content: "\f718";
  color: #008cdd;
}
.icon-stubhub:before {
  content: "\f719";
  color: #003168;
}
.icon-stumbleupon4:before {
  content: "\f71a";
  color: #eb4924;
}
.icon-styleshare:before {
  content: "\f71b";
}
.icon-stylus:before {
  content: "\f71c";
}
.icon-sublimetext:before {
  content: "\f71d";
}
.icon-subversion:before {
  content: "\f71e";
  color: #809cc9;
}
.icon-superuser:before {
  content: "\f71f";
  color: #2eace3;
}
.icon-swarm2:before {
  content: "\f720";
  color: #ffa633;
}
.icon-swift:before {
  content: "\f721";
  color: #fa7343;
}
.icon-symfony:before {
  content: "\f722";
}
.icon-tapas:before {
  content: "\f723";
  color: #ffce00;
}
.icon-ted:before {
  content: "\f724";
  color: #e62b1e;
}
.icon-teespring:before {
  content: "\f725";
  color: #39ace6;
}
.icon-telegram3:before {
  content: "\f726";
  color: #2ca5e0;
}
.icon-tencentqq:before {
  content: "\f727";
  color: #12b7f5;
}
.icon-tesla:before {
  content: "\f728";
  color: #c00;
}
.icon-themighty:before {
  content: "\f729";
  color: #d0072a;
}
.icon-tinder:before {
  content: "\f72a";
  color: #ff6b6b;
}
.icon-toggl:before {
  content: "\f72b";
  color: #e01b22;
}
.icon-topcoder:before {
  content: "\f72c";
  color: #29a8e0;
}
.icon-toptal:before {
  content: "\f72d";
  color: #3863a0;
}
.icon-trakt:before {
  content: "\f72e";
  color: #ed1c24;
}
.icon-travisci:before {
  content: "\f72f";
  color: #39a85b;
}
.icon-treehouse:before {
  content: "\f730";
  color: #5fcf80;
}
.icon-trello3:before {
  content: "\f731";
  color: #0079bf;
}
.icon-tripadvisor2:before {
  content: "\f732";
  color: #00af87;
}
.icon-trulia:before {
  content: "\f733";
  color: #53b50a;
}
.icon-tumblr5:before {
  content: "\f734";
  color: #36465d;
}
.icon-twilio:before {
  content: "\f735";
  color: #f22f46;
}
.icon-twitch3:before {
  content: "\f736";
  color: #6441a4;
}
.icon-twitter6:before {
  content: "\f737";
  color: #1da1f2;
}
.icon-twoo:before {
  content: "\f738";
  color: #ff7102;
}
.icon-uber:before {
  content: "\f739";
}
.icon-ubuntu:before {
  content: "\f73a";
  color: #e95420;
}
.icon-udacity:before {
  content: "\f73b";
  color: #01b3e3;
}
.icon-uikit:before {
  content: "\f73c";
  color: #2396f3;
}
.icon-umbraco:before {
  content: "\f73d";
  color: #00bec1;
}
.icon-unsplash:before {
  content: "\f73e";
}
.icon-untappd:before {
  content: "\f73f";
  color: #ffc000;
}
.icon-upwork:before {
  content: "\f740";
  color: #6fda44;
}
.icon-viadeo2:before {
  content: "\f741";
  color: #f88d2d;
}
.icon-viber:before {
  content: "\f742";
  color: #665cac;
}
.icon-vim:before {
  content: "\f743";
  color: #019733;
}
.icon-vimeo4:before {
  content: "\f744";
  color: #1ab7ea;
}
.icon-vine4:before {
  content: "\f745";
  color: #11b48a;
}
.icon-virb:before {
  content: "\f746";
  color: #0093da;
}
.icon-visa:before {
  content: "\f747";
  color: #142787;
}
.icon-visualstudiocode:before {
  content: "\f748";
  color: #0271bc;
}
.icon-vk4:before {
  content: "\f749";
  color: #6383a8;
}
.icon-vsco:before {
  content: "\f74a";
}
.icon-vuejs:before {
  content: "\f74b";
  color: #4fc08d;
}
.icon-wattpad:before {
  content: "\f74c";
  color: #f68d12;
}
.icon-webpack:before {
  content: "\f74d";
  color: #8dd6f9;
}
.icon-webstorm:before {
  content: "\f74e";
  color: #00cdd7;
}
.icon-wechat2:before {
  content: "\f74f";
  color: #7bb32e;
}
.icon-whatsapp3:before {
  content: "\f750";
  color: #25d366;
}
.icon-wheniwork:before {
  content: "\f751";
  color: #51a33d;
}
.icon-wii:before {
  content: "\f752";
  color: #8b8b8b;
}
.icon-wiiu:before {
  content: "\f753";
  color: #8b8b8b;
}
.icon-wikipedia2:before {
  content: "\f754";
}
.icon-windows5:before {
  content: "\f755";
  color: #0078d6;
}
.icon-wire:before {
  content: "\f756";
}
.icon-wix:before {
  content: "\f757";
  color: #faad4d;
}
.icon-wordpress3:before {
  content: "\f758";
  color: #21759b;
}
.icon-wpengine:before {
  content: "\f759";
  color: #40bac8;
}
.icon-xbox:before {
  content: "\f75a";
  color: #107c10;
}
.icon-xcode:before {
  content: "\f75b";
  color: #1575f9;
}
.icon-xero:before {
  content: "\f75c";
  color: #13b5ea;
}
.icon-xing4:before {
  content: "\f75d";
  color: #006567;
}
.icon-yahoo3:before {
  content: "\f75e";
  color: #409;
}
.icon-yammer:before {
  content: "\f75f";
  color: #0072c6;
}
.icon-yandex:before {
  content: "\f760";
  color: #f00;
}
.icon-ycombinator:before {
  content: "\f761";
  color: #f0652f;
}
.icon-yelp4:before {
  content: "\f762";
  color: #d32323;
}
.icon-youtube5:before {
  content: "\f763";
  color: #f00;
}
.icon-zapier:before {
  content: "\f764";
  color: #ff4a00;
}
.icon-zendesk:before {
  content: "\f765";
}
.icon-zerply:before {
  content: "\f766";
  color: #9dbc7a;
}
.icon-zillow:before {
  content: "\f767";
  color: #0074e4;
}
